/* SCREEN 2 */

.choiceMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.choiceWrapper {
  position: relative;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}
.choiceWrapper .backBtn {
  position: absolute;
  top: 0;
  left: 0;
}
.choiceWrapper .backBtn img {
  /* opacity: 0.5; */
  rotate: 180deg;
}
.choiceWrapper h1 {
  margin: 0;
  font-family: "Playfair Display", serif !important;
  font-style: italic;
  font-weight: 700;
  font-size: 72px;
}
.choiceWrapper h2 {
  text-transform: uppercase;
  margin: 0;
  font-weight: 100;
}

.choiceWrapper p {
  font-style: italic;
  font-weight: 200;
  max-width: 500px;
}
.categoryWrapper {
  display: grid;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* align-items: center; */
  /* justify-content: center; */
  gap: 10px 15px;
  padding: 0;
  /* margin: 50px; */
}
/* Large */
@media only screen and (width >=800px) {
  .categoryWrapper {
    grid-template-columns: repeat(3, 200px);
  }
}
/* Small */
@media only screen and (width <800px) {
  .categoryWrapper {
    width: 100%;
    grid-template-columns: repeat(2, calc(50% - 7.5px));
  }
}
@media only screen and (width <500px) {
  .categoryWrapper {
    width: fit-content;
    grid-template-columns: 300px;
  }
}

.categoryWrapper a {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
}
.categoryWrapper a:hover {
  color: #fff;
  box-shadow: 3px 3px 1px 0px #000;
}
.categoryWrapper a:focus {
  background-color: #111 !important;
  color: #fff;
}
.categoryWrapper a:nth-child(1) {
  background-color: #ff9b9b;
}
.categoryWrapper a:nth-child(2) {
  background-color: #ffcf96;
}
.categoryWrapper a:nth-child(3) {
  background-color: #a1eebd;
}
.categoryWrapper a:nth-child(4) {
  background-color: #7bd3ea;
}
.categoryWrapper a:nth-child(5) {
  background-color: #ccc;
}
.categoryWrapper a:nth-child(6) {
  background: linear-gradient(45deg, #ff9b9b, #ffcf96, #a1eebd, #7bd3ea);
  /* background-size: 200% 100%; */
  background-position: 0 0;
  animation: animate-gradient 5s ease-in-out infinite alternate-reverse;
}
.categoryWrapper a:nth-child(1):hover {
  background-color: #d24545;
}
.categoryWrapper a:nth-child(2):hover {
  background-color: #f57d1f;
}
.categoryWrapper a:nth-child(3):hover {
  background-color: #0d9276;
}
.categoryWrapper a:nth-child(4):hover {
  background-color: #0b60b0;
}
.categoryWrapper a:nth-child(5):hover {
  background-color: #666;
}
.categoryWrapper a:nth-child(6):hover {
  background: linear-gradient(45deg, #d24545, #f57d1f, #0d9276, #0b60b0);
  /* background-size: 200% 100%; */
  background-position: 0 0;
  animation: animate-gradient 5s ease-in-out infinite alternate-reverse;
}
/* @keyframes animate-gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
} */
/* .categoryWrapper a:hover > img,
.categoryWrapper a:focus > img {
  filter: brightness(1);
} */
/* .categoryWrapper a:hover > h2,
.categoryWrapper a:focus > h2 {
  filter: invert(0);
  color: #fff;
  text-shadow: 0 0 10px #000;
  display: none;
  color: #ffffff00;
  -webkit-text-stroke: 1px transparent;
} */
/* .categoryWrapper a img {
  position: relative;
  filter: brightness(0.7) saturate(0.7);
  border-radius: 10px;
} */
/* .categoryWrapper a h2 {
  height: 200px;
  aspect-ratio: auto 1/1;
  line-height: 200px;
  position: absolute;
  text-transform: lowercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  color: #00000000;
  font-size: 36px;
  letter-spacing: -1px;
  font-weight: 900;
  text-align: center;
  background-clip: text;
  filter: brightness(1.5) invert(1);
} */
