/* SCREEN 2 */

.choiceMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.choiceWrapper {
  position: relative;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.choiceWrapper .backBtn {
  position: relative;
}
.choiceWrapper .backBtn img {
  /* opacity: 0.5; */
  rotate: 180deg;
}
.choiceWrapper > div > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.choiceWrapper h1 {
  margin: 0;
  font-family: "Playfair Display", serif !important;
  font-style: italic;
  font-weight: 700;
}

.choiceWrapper p {
  font-style: italic;
  font-weight: 300;
  margin: 0;
}
.categoryWrapper {
  display: grid;
  gap: 10px 15px;
  padding: 0;
}
/* Large */
@media only screen and (width >=800px) {
  .categoryWrapper {
    grid-template-columns: repeat(3, 200px);
  }
  .choiceWrapper > div > div {
    margin-left: -40px;
  }
  .choiceWrapper h1 {
    font-size: 72px;
  }
  .choiceWrapper p {
  }
}
/* Small */
@media only screen and (width <800px) {
  .choiceMain {
    /* padding-block: 50px; */
  }
  .categoryWrapper {
    width: 100%;
    grid-template-columns: repeat(2, calc(50% - 7.5px));
  }
  .choiceWrapper h1 {
    font-size: 48px;
  }
  .choiceWrapper p {
    margin-right: -40px;
    font-size: 12px;
  }
}
@media only screen and (width <500px) {
  .categoryWrapper {
    width: fit-content;
    grid-template-columns: 300px;
  }
}

.categoryWrapper a {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.categoryWrapper a:hover {
  color: #fff;
  box-shadow: 3px 3px 1px 0px #000;
}
.categoryWrapper a:focus {
  background-color: #111 !important;
  color: #fff;
}
.categoryWrapper a:hover > span,
.categoryWrapper a:focus > span {
  filter: invert();
}
.categoryWrapper a:nth-child(1) {
  background-color: #ff9b9b;
}
.categoryWrapper a:nth-child(2) {
  background-color: #ffcf96;
}
.categoryWrapper a:nth-child(3) {
  background-color: #a1eebd;
}
.categoryWrapper a:nth-child(4) {
  background-color: #7bd3ea;
}
.categoryWrapper a:nth-child(5) {
  background-color: #ccc;
}
.categoryWrapper a:nth-child(6) {
  background: linear-gradient(45deg, #ff9b9b, #ffcf96, #a1eebd, #7bd3ea);
  /* background-size: 200% 100%; */
  background-position: 0 0;
  animation: animate-gradient 5s ease-in-out infinite alternate-reverse;
}
.categoryWrapper a:nth-child(1):hover {
  background-color: #d24545;
}
.categoryWrapper a:nth-child(2):hover {
  background-color: #f57d1f;
}
.categoryWrapper a:nth-child(3):hover {
  background-color: #0d9276;
}
.categoryWrapper a:nth-child(4):hover {
  background-color: #0b60b0;
}
.categoryWrapper a:nth-child(5):hover {
  background-color: #666;
}
.categoryWrapper a:nth-child(6):hover {
  background: linear-gradient(45deg, #d24545, #f57d1f, #0d9276, #0b60b0);
  /* background-size: 200% 100%; */
  background-position: 0 0;
  animation: animate-gradient 5s ease-in-out infinite alternate-reverse;
}
.customWrapper {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-direction: column;
  position: relative;
}
.customWrapper p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}
.customWrapper button {
  max-width: 300px;
  width: 300px;
  text-decoration: none;
  color: #000;
  background-color: #ffffff00;
  border: 2px solid #000;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  gap: 7px;
  /* disabled */
  cursor: default;
  opacity: 0.5;
}
/* .customWrapper button:hover {
  color: #fff;
  background-color: #111 !important;
  box-shadow: 3px 3px 1px 0px #000;
} */
/* .customWrapper button:focus {
  background-color: #111 !important;
  color: #fff;
} */
#p {
  width: 100%;
  position: absolute;
  bottom: 20px;
  text-align: center;
  color: #555;
  font-size: 10px;
  font-style: normal;
}
