/* Screen 1 */

.homeMain {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.imageWrapper {
  /* height: 100%; */
  display: flex;
  /* aspect-ratio: 1/1; */
  overflow: hidden;
  background-image: url("/home.jpg");
  background-size: cover;
  background-position: calc(50% + 1rem);
}
.imageWrapper img {
  height: 100%;
}

.textWrapper {
  padding: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.textWrapper h1 {
  margin: 0;
  font-family: "Playfair Display", serif !important;
  font-style: italic;
  font-weight: 700;
  font-size: 120px;
  line-height: 100px;
}
.textWrapper h2 {
  /* font-family: "Playfair Display", serif; */
  /* font-style: italic; */
  text-transform: lowercase;
  margin: 0;
  font-weight: 500;
  text-align: end;
  font-size: 20px;
  margin-bottom: -24px;
  /* letter-spacing: 2px; */
}

.textWrapper p {
  font-style: italic;
  font-weight: 300;
  max-width: 500px;
}
.textWrapper a {
  position: relative;
  border: none;
  cursor: pointer;
  /* text */
  text-decoration: none;
  color: #000;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* .textWrapper a img {
  scale: 0.4;
  object-fit: cover;
  position: absolute;
  rotate: 90deg;
  top: -75px;
  right: 50px;
  animation: motion 1s ease-out infinite alternate-reverse;
} */
/* @keyframes motion {
  0% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0%);
  }
} */

/* Large */
@media only screen and (width >= 900px) {
  .homeMain {
    flex-direction: row;
  }
  .imageWrapper {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50px 0 0 50px;
    mask: linear-gradient(90deg, black 80%, transparent);
  }
  .textWrapper {
    margin-inline: -50px 20px;
  }
  .textWrapper a {
    width: 50%;
    height: 70px;
    margin-inline: 10px;
    background: transparent;
    border: 1px solid #000;
    filter: invert(0);
    transition: all 0.5s ease;
  }
  .textWrapper a:hover {
    background: linear-gradient(45deg, #ff9b9b, #ffcf96, #a1eebd, #7bd3ea);
    filter: invert(1);
  }
}
@media only screen and (width >= 700px) and (width < 900px) {
  .imageWrapper {
    border-radius: 50px 50px 0 0;
  }
}

/* Small */
@media only screen and (width < 900px) {
  .homeMain {
    flex-direction: column;
  }
  .imageWrapper {
    min-width: 100%;
    min-height: 50%;
    height: 50% !important;
    aspect-ratio: 2/3;
    mask: linear-gradient(black 80%, transparent);
  }
  .textWrapper {
    margin-block: -50px 20px;
  }
  .textWrapper a {
    width: 99%;
    margin-inline: auto;
    height: 50px;
    margin-top: -20px;
    background: linear-gradient(45deg, #ff9b9b, #ffcf96, #a1eebd, #7bd3ea);
    filter: invert(1);
  }
}
